<mat-toolbar>
    <!--menu desplegable para cuando la pantalla sea mas chiquita,se va a mostrar cuando sea <700 px -->
    <button id="menuSecciiones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion" >
        <mat-icon>menu</mat-icon>
    </button>
    
    <mat-menu #seccion="matMenu">
     <button mat-menu-item routerLink="/inicio">Inicio</button>
     <button mat-menu-item [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    </mat-menu>
  
    <!--esto se va a mostrar cuando la pantalla sea mayor a 700 pixeles -->
    <!-- Botón para la vista de inicio-->
    <button mat-button id="menuIniccio" routerLink="/inicio">Inicio</button>
  
  
  
    <span class="example-spacer"></span>
    <!--Inicio de sesuib y el registro de un nuevo usuario-->
    <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item routerLink="/registro">registrarse</button>
        <button mat-menu-item routerLink="/inicio-sesion">Iniciar Sesión</button>
    </mat-menu>
  <!--carrito-->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    
  </mat-toolbar>
