.example-spacer {
    flex: 1 1 auto;
  }

     /* Encasula a pantallas de celular  */
     @media (min-width: 300px) and (max-width: 700px){
      mat-toolbar{
        background-color: blueviolet;
      }
  
      #menuIniccio{
        display: none;
      }
  
      #menuProducto{
        display: none;
      }
    }
    /* Encapsula a pantallas mas grandes como una tele */
    @media (min-width: 700px){
      mat-toolbar{
        background-color: brown;
      }
  
      #menuSecciiones{
        display: none;
      }
  
    }

    .imagens {
      max-width: 80px; /* Ajusta este valor según el tamaño deseado */
      height: auto; /* Mantiene la proporción de la imagen */
      display: block; /* Elimina cualquier espacio en línea */
      margin: auto; /* Centra la imagen horizontalmente */
  }
  
  @media (max-width: 768px) {
      .imagens {
          max-width: 75px; /* Tamaño reducido para dispositivos más pequeños */
      }
  }
  
  @media (max-width: 480px) {
      .imagens {
          max-width: 50px; /* Tamaño aún más pequeño para dispositivos muy pequeños */
      }
  }
  