<footer class="footer">
    <div class="footer-section social-media">
        <h4>Redes Sociales</h4>
        <a  target="_blank">Facebook:VibeVortex12</a><br>
        <a  target="_blank">Twitter:VibeVortex12</a><br>
        <a  target="_blank">Instagram:@VibeVortex12</a><br>
    </div>
    <div class="footer-section contact-info">
        <h4>Contacto</h4>
        <p>Teléfono: (555) 123-4567</p>
        <p>Ubicación: Calle Falsa 123, Ciudad Imaginaria</p>
    </div>
    <div class="footer-section about-us">
        <h4>Sobre Nosotros</h4>
        <p>En AudioWave, nos apasiona ofrecer auriculares de alta calidad para todos los amantes de la música. Desde nuestros humildes comienzos, hemos crecido para convertirnos en el destino favorito para los audiófilos.</p>
    </div>
</footer>
