/* Estilos generales */
#todo {
    max-width: 800px; /* Ajusta el ancho máximo según tu preferencia */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px;
    background-color: #f0f0f0; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para los campos de formulario */
.mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

/* Estilos para el botón */
.boton {
    display: block;
    width: 100%;
    max-width: 200px; /* Ancho máximo del botón */
    margin: 20px auto 0; /* Margen superior y centrado horizontal */
}

/* Estilos para los íconos de visibilidad de contraseña */
.mat-icon {
    cursor: pointer;
}

/* Estilos adicionales para mejorar la legibilidad y alineación */
.mat-hint {
    font-size: 12px;
    color: #3f3f3f;
}

/* Media query para hacer el formulario más responsive */
@media (max-width: 600px) {
    .col-6 {
        width: 100%;
    }
}

/* Añadir estilos para centrar verticalmente los campos de formulario */
.row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
