.conteiner1{
    display: flex;
    justify-content: center;
    text-align: center;
    
    }
    
    .row2{
        width: 500px;
        height: 500px;
        box-shadow: 0 0 5px #3d0349;
        
        
    }
    .boton{
        display: flex;
        justify-content: center;
        margin-left: 200px;
    }
    